.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.teamList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.teamContainer {
	display: flex;
	gap: 10px;
    flex-direction: column;
}
.addTeamButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.startGameContainer {
	display: flex;
	justify-content: center;
}
.startGameButton {
	padding: 12px 30px;
	font-size: 1.2rem;
	background-color: #4a90e2;
	color: white;
	border: none;
	border-radius: 8;
	cursor: pointer;
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 10px;
}
