REDIS_SERVICE_PASSWORD=PASSWORD
REDIS_SERVICE_HOST=HOST
REDIS_SERVICE_PORT=PORT
JWT_SECRET_KEY=SECRET_KEY
JWT_EXPIRES_IN="1w"

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=alias_app_db

CLOUDINARY_CLOUD_NAME=CLOUD_NAME
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=API_SECRET