.header {
	width: 100%;
	padding: var(--spacing-medium) var(--spacing-large);
	background-color: var(--color-surface);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}

.logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-primary);
	text-decoration: none;
}
.rightSection {
	display: flex;
	gap: var(--spacing-medium);
	align-items: center;
}

.leaveBtn {
	display: flex;
	align-items: center;
	padding: var(--spacing-small) var(--spacing-medium);
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.9rem;
}
.leaveBtn:hover {
	background-color: rgb(235, 57, 57);
	color: rgb(255, 255, 255);
}
.signOutBtn {
	display: flex;
	align-items: center;

	padding: var(--spacing-small) var(--spacing-medium);
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.9rem;
}
.signOutBtn:hover {
	background-color: rgb(235, 57, 57);
	color: rgb(255, 255, 255);
}
